[Unit]
Description=Run Ippo Strategy Tester every hour

[Timer]
OnCalendar=hourly
Persistent=true
RandomizedDelaySec=60

[Install]
WantedBy=timers.target
